<html>
 <head>
     <title>Single Article</title>
 </head>   
  <body>
      
      <h1>Showing Content of a Selected Article</h1>
      <hr>

          <h3> CONTENT: <%= request.article.content%> </h3>


  </body>  
</html>