<html>
 <head>
     <title>Single Article</title>
 </head>   
  <body>
      
      <h1>Single Article</h1>
      <hr>
      <!--<h2>re</h2>-->
     <h1> <%= request.article.title%> </h1>
          <h2> <%= request.article.id%> </h2>
          <h2> <%= request.article.content%> </h2>
               <h2> <%= request.article.created%> </h2>
      
      

  </body>  
</html>