<html>
 <head>
     <title>Single Article</title>
 </head>   
  <body>
      
      <h1>Single Article</h1>
      <hr>
    
 
       <!--<% console.log(request.article.user) %>-->
     <h1> TITLE:  <%= request.article.title%> </h1>
          <h3> ID: <%= request.article.id%> </h3>
          <h3> CONTENT: <%= request.article.content%> </h3>
               <h3> TIME CREATED: <%= request.article.created%> </h3>

  </body>  
</html>