<html>
 <head>
     <title>New Product Article</title>
 </head>   
  <body>
      
      <h1>Add New Article</h1>
      <hr>
      <p>Name:</p>
      <input type="text" id="name"/> <br/>
      <p>price:</p>
      <input type="number" id="price"></input> <br/>
      <p>Quantity:</p>
      <input type="number" id="quantity"></input> <br/>
      <p>Description:</p>
      <textarea type="text" id="description"></textarea> <br/>
      <button id="submit">Submit</button> <br/>
      <div id='error'></div>
      <div id='success'></div>
      <script src="/lib/jquery/dist/jquery.min.js"></script>
      <script>
      var newProduct = {name:"", price:"", quantity:"", description:""};
          $('#submit').click(function(){
              console.log('working!');
              console.log($('#name').val());
            newProduct.name=$('#name').val();
            newProduct.price=$('#price').val();
            newProduct.quantity=$('#quantity').val();
            newProduct.description=$('#description').val();
           $.ajax({
               method:"POST",
               url: "/api/products",
               data: newProduct
           }).done(function(response){
              $('#success').text("Product Added!");
               console.log(response);
               window.location.replace('/product/'+response._id);
           }).fail(function(response){
              $('#error').text(JSON.parse(response.responseText).message);
               console.log(response.responseText);
           });
              
          });
      </script>
         


  </body>  
</html>