<html>
 <head>
     <title>Single Product</title>
 </head>   
  <body>
      
      <h1>New Product</h1>
      <hr>
    
 
       <!--<% console.log(request.product.user) %>-->
     <h1> NAME:  <%= request.product.name%> </h1>
          <h3> Price: <%= request.product.price%> </h3>
          <h3> Des: <%= request.product.description%> </h3>
               <h3> TIME CREATED: <%= request.product.created%> </h3>

  </body>  
</html>